<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sciorViwe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E802D201C4F960C0052FCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E802D341C4F960C0052FCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E802D3F1C4F960C0052FCC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
